@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Kaushan+Script&family=Lobster+Two&family=Niconne&family=Rock+Salt&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');


body {
  background-color: #dd1c1a;
  margin: 0;
  padding: 0;
}

#header-nav {
  margin: 0;
  padding: 0;
  background-color: #f0c808;
  border-radius: 0;
  border: 0;
}

#logo-image {
  background: url("https://upload.wikimedia.org/wikipedia/en/thumb/8/85/Panda_Express_logo.svg/1200px-Panda_Express_logo.svg.png");
  width: 140px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 140px;
  margin: 10px 0 10px 0;
  display: inline-block;
}

.navbar-brand {
  padding-top: 50px;
  padding-left: 15px;
}

.navbar-brand a h1 {
  font-family: "Rock Salt", cursive;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  color: #019031;
  text-shadow: 1px 1px 1px #222;
  line-height: 0.75;
}

.navbar {
  background-color: #f0c808;
}

.navbar-brand a {
  text-decoration: none;
}

.navbar-toggler {
  color: red;
}

#nav-list {
  padding-left: 10%;
  margin-top: 10px;
}

#nav-list a {
  font-family: "Kaushan Script", cursive;
  text-transform: uppercase;
  font-weight: 900;
  color: #e71c23;
  text-align: center;
}

#nav-list a:hover {
  background-color: white;
  border-radius: 20px;
}

#nav-list a span {
  font-size: 1.2em;
}

#nav-list li div {
  font-family: "Kaushan Script", cursive;
  text-transform: uppercase;
  font-weight: 900;
  color: #019031;
  text-align: right;
}

#phone {
  margin-top: 5px;
}

#phone a {
  text-align: right;
  padding-bottom: 0;
}

#call-btn>a {
  font-size: 1.5em;
  display: block;
  margin: 0 20px;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #f6b319;
  color: #951c49;
}

#xs-deliver {
  margin-top: 5px;
  font-size: .7em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.jumbotron {
  background-image: url("../img/josh-wilburne-hPeGDIGHnoI-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  box-shadow: 0 0 50px #3f0c1f;
}

#menu-tile,
#special-tile,
#map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: solid 2px maroon;
  overflow: hidden;
}

#menu-tile:hover,
#special-tile:hover,
#map-tile:hover {
  box-shadow: 0 1px 5px 1px #beb4b4;
}

#menu-tile {
  background: url("../img/pexels-t-n-g-u-y-e-n-🍁-2664216.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

#special-tile {
  background: url("../img/pexels-abby-kihano-218769.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#menu-tile span,
#special-tile span,
#map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: black;
  color: white;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: 'Rowdies', cursive;
}

.panel-footer {
  background-color: black;
  color: white;
  opacity: 0.8;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 0;
}

.panel-footer div.row {
  margin: 35px;
}

#hours,
#address {
  line-height: 2;
}

#hours>span,
#address>span {
  font-size: 1.3em;
}

#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}

#testimonials {
  font-style: italic;
}

#testimonials p:nth-child(2) {
  margin-top: 25px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #ffffff;
  height: 1px;
}

.category-tile {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}

.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title+div {
  margin-bottom: 50px;
}

@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {
  #logo-image {
    width: 110px;
    height: 110px;
  }

  .navbar-brand a h1 {
    font-size: 0.9em;
  }
  .category-tile {
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #logo-image {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .navbar-brand a h1 {
    font-size: 0.8em;
  }

  #logo-image {
    width: 80px;
    height: 80px;
  }
}

@media (min-width: 432px) and (max-width: 575px) {
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }

  .panel-footer section:nth-child(3) {
    margin-bottom: 0;
    /* margin already exists on the whole row */
  }

  .panel-footer section hr {
    width: 50%;
  }

  .navbar-brand a h1 {
    font-size: 0.8em;
    padding-bottom: 15px;
  }
}

@media (max-width: 430px) {
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }

  .panel-footer section:nth-child(3) {
    margin-bottom: 0;
    /* margin already exists on the whole row */
  }

  .panel-footer section hr {
    width: 50%;
  }

  .navbar-brand a h1 {
    font-size: 3vw;
    padding-bottom: 15px;
  }

  .jumbotron {
    height: 300px;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}